<div style="text-align: center;">
  <h1>
    Bem vindo ao meu projeto
  </h1>
  <h1>Lista de Clientes</h1>

  <ul>
    <li *ngFor="let cliente of clientes; let i = index">
      <strong>Nome:</strong> {{ cliente.nome }} <br>
      <strong>Telefone:</strong> {{ cliente.telefone }} <br>
      <button (click)="editarCliente(i)">Editar</button>
      <button (click)="excluirCliente(i)">Deletar</button>
    </li>
  </ul>

  <h2>Formulário de Cliente</h2>

  <form (submit)="addCliente()">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" [(ngModel)]="cliente.nome" name="nome" required><br>
    <label for="telefone">Telefone:</label>
    <input type="text" id="telefone" [(ngModel)]="cliente.telefone" name="telefone" required><br>
    <button type="submit">Adicionar Cliente</button>
  </form>


<router-outlet />
